<div class="shadow-sm hover:shadow-lg">
  <%= image_tag("https://via.placeholder.com/200x100?text=Team+Image") %>
  <div class="p-2">
    <p><%= team.name %></p> 
    <p><%= team.owner_name %></p> 
  </div>
</div>