<div class="col-start-1 col-span-1"><%= link_to "JUSTICE LA LIGA", root_path, class: "font-semibold hover:font-bold" %></div>
<div class="col-start-3 col-span-1 text-center"><%= link_to "Teams", '#' %></div>
<div class="col-start-4 col-span-1 text-center"><%= link_to "Rosters", '#' %></div>
<div class="col-start-5 col-span-1 text-center"><%= link_to "Records", '#' %></div>